.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: #282828;
    padding: 20px;
}

.footer_left{
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}

.footer_green {
    color: #1DB954;
}

.footer_songInfo > h4 {
    margin-bottom: 5px;
}

.footer_songInfo > p {
    font-size: 12px;
}

.footer_albumLogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.footer_center{
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer_right{
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    transition: 100ms color ease-in;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 8px;
    align-self: center;
}

.footer_icon:hover, .footer_green:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer_right * .MuiSlider-root{
    color: #1DB954;
    width: 80%;
}

.footer_rightIcon:hover{
    color: white;
}