.sidebar{
    height: 100vh;
    flex: 0.2;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #040404;
}

.sidebar_logo{
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.sidebar_tite{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}