.songRow{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    color: white;
    opacity: 0.8;
}

.songRow:hover{
    cursor: pointer;
    background-color: #2a2a2a;
    /* background-color: #2C2A30; */
    opacity: 1;
    border-radius: 5px;
}

.songRow_info{
    margin-left: 20px;
}

.songRow_info > h1{
    font-size: 16px;
}

.songRow_info > p{
    font-size: 14px;
    margin-top: 3px;
    color: gray;
}

.songRow_album{
    height: 40px;
    width: 40px;
    
}